.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-gutter);
}

@media (width >= 480px) {
  :root {
    --container-gutter: 20px;
  }
}

@media (width >= 768px) {
  :root {
    --container-gutter: 24px;
  }
}

@media (width >= 1024px) {
  :root {
    --container-gutter: 32px;
  }
}

@media (width >= 1280px) {
  :root {
    --container-gutter: 40px;
  }
}

@media (width >= 1536px) {
  :root {
    --container-gutter: 48px;
  }
}
